<h1>Show.html.erb</h1>
<table border="1">
	<thead>
		<tr>
			<th>Palavra</th>
			<th>Vezes</th>
		</tr>
	</thead>
	<tbody>
		<% @resultado.each do |palavra, frequencia|%>
		<tr>
			<th><%= "#{palavra}"%></th>
			<th><%= "#{frequencia}"%></th>
		</tr>
		<% end %>
	</tbody>
</table>

<%# @palavraValor.each do |word, frequency|%>
	<p><%# "#{word} -- #{frequency}."  %></p>
<%# end %>